@model dynamic

@{
    var lista = Json.Serialize(Model);
    ViewData["Title"] = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
<script src="~/js/fuse.js"></script>
<script> var itens = @Html.Raw(lista); </script>


<style>
    *{
        // border: 1px solid black;
     }
</style>
<body>
<div class="align-content-center" style="margin-bottom:5px">
    <label class="" style="font-weight:bold">Pesquisa por filmes: </label>

    <input type="radio" class="btn-check" name="options-base" id="option1" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="option1" onclick="setType('filme', 'titulo', 1)">Título</label>

    <input type="radio" class="btn-check" name="options-base" id="option2" autocomplete="off">
    <label class="btn btn-outline-primary" for="option2" onclick="setType('filme', 'artistas', 2)">Atores</label>

    <input type="radio" class="btn-check" name="options-base" id="option3" autocomplete="off">
    <label class="btn btn-outline-primary" for="option3" onclick="setType('filme', 'generos', 3)">Gênero</label>
</div>

<div class="align-content-center" style="margin-bottom:5px">
    <label class="" style="font-weight:bold">Pesquisa por artistas: </label>

    <input type="radio" class="btn-check" name="options-base" id="option4" autocomplete="off">
    <label class="btn btn-outline-primary" for="option4" onclick="setType('artista', 'nome', 4)">Nome</label>

    <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off">
    <label class="btn btn-outline-primary" for="option5" onclick="setType('artista', 'paisNascimento', 5)">País de nascimento</label>
</div>
<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
    </span>

<input id="inputSearch" type="text" class="form-control" list="subs"
    aria-describedby="addon-wrapping" placeholder="Digite o nome do filme"
    autocomplete="off">
</div>

<hr />
<!-- Local dos resultados -->

<div class="container">
    <div class="col-md-25">
        <div class="row" id="cards">

        </div>
    </div>
</div>

<div class="text-center displayStyleOut" id="detalhes">Exibir detalhes</div>
</body>
<script src="~/js/ConfigBuscar.js"></script>
<script src="~/js/Buscar.js"></script>


<div class="text-center displayStyleOut" id="detalhes">Exibir detalhes</div>

<script>

    function showDetalhes(id, loc = 1) {
        loc = (loc == 1) ? "RegistrarFilmes" : "CadastroAtores";
        let url = document.location.origin;
        document.location.href = url +"/"+ loc + "/Details/" + id;
    }
    function showLink(){
        const elements = document.querySelectorAll(".showDetails");
        const detalhes = document.getElementById("detalhes");

        elements.forEach(element => {
            element.addEventListener("mousemove", (e) => {
                detalhes.classList.remove("displayStyleOut");
                detalhes.classList.add("text-center", "displayStyle");
                detalhes.style.top = (e['pageY'] - 35) + "px";
                detalhes.style.left = (e['pageX'] + 10) + "px";
            });

            element.addEventListener("mouseout", () => {
                detalhes.classList.remove("text-center", "displayStyle");
                detalhes.classList.add("displayStyleOut");
                detalhes.style.left = "1px";
                detalhes.style.top = "1px";
            });
        });
    }
</script>